<section class="profileNotes">
  {{#if view.showAddNote}}
  <div>
    <textarea></textarea>
    <button {{action addNote target="view"}} class="btn">Add Note</button> <a {{action cancelAddNote target="view"}}>cancel</a>
  </div>
  {{else}}
    <button {{action showAddNote target="view"}} class="btn"><i class="fa fa-plus"></i>Add Note</button>

  {{/if}}


  {{#each view.notes}}
    <div class="note">
      <span class="timestamp">{{this.timestamp}}</span>
      <p>{{this.text}}</p>
    </div>
  {{/each}}



  {{#if view.loading}}
    <i class="fa fa-spin fa-spinner"></i>
  {{/if}}
</section>
