<section class="profileNotes">
  {{#if view.showAddNote}}
  <div>
    <textarea name="note"></textarea>
    <button class="btn">Add Note</button> <a {{action cancelAddNote target="view"}}>cancel</a>
  </div>
  {{else}}
    <button {{action showAddNote target="view"}} class="btn"><i class="fa fa-plus"></i>Add Note</button>

  {{/if}}


  {{#each view.notes}}
    <p>{{this.note}}</p>
    <p>{{this.author}}</p>
    <p>{{this.timestamp}}
  {{/each}}



  {{#if view.loading}}
    <i class="fa fa-spin fa-spinner"></i>
  {{/if}}
</section>
