{{#if currentUser}}
  <div class="profile-notes-ui">
    <h3>{{fa-icon "pencil-square-o"}} Private Notes</h3>
    <p class="info">Notes added here are for your eyes only. No one else (including the profile you are looking at) can read them.</p>

    {{#if showAddNote}}
    <div>
      <textarea></textarea>
      <div class="controls">
        {{#if is_staff}}
          <input type="checkbox" class="share-with-staff" checked="checked">
          <label> share with staff</label>
        {{/if}}
        <button {{action "addNote"}} class="btn btn-primary">Add Note</button> <a {{action "cancelAddNote"}}>cancel</a>
      </div>
    </div>
    {{else}}
      <button {{action 'showAddNote'}} class="btn show-note">{{fa-icon "plus"}} Add Note</button>

    {{/if}}

    {{#if loading}}
      {{fa-icon "spinner"}}
    {{/if}}

    {{#if showEditNote}}
    <div>
      {{textarea value=note.text}}
      <div class="controls">
        <button {{action "editNote"}} class="btn btn-primary">Edit Note</button> <a {{action "cancelEditNote"}}>cancel</a>
      </div>
    </div>
    {{/if}}

    {{#each note in notes}}
      {{#if note.staff}}
        <div class="note staff">
          <p><span class="user"><a href="{{unbound getBaseURL}}users/{{unbound note.user.username}}">{{note.user.username}}</a> </span> </p>
          {{{note.formatted_text}}}
          <span class="timestamp">{{format-date note.timestamp}}</span> <span class="shared">shared with all staff</span>
          {{#if note.topic}}
            <span class="topic-link">
              created from <a href="{{unbound getBaseURL}}t/{{unbound note.topic.slug}}/{{unbound note.topic.id}}">{{note.topic.title}}</a>
            </span>
          {{/if}}
          <button {{action "showEditNote" note}} class="btn edit-note">{{fa-icon "pencil"}} Edit Note</button>
          <button {{action "deleteNote" note}} class="btn delete-note">{{fa-icon "trash"}} Delete Note</button>
        </div>
      {{else}}
        <div class="note">
          {{{note.formatted_text}}}
          <p><span class="timestamp">{{format-date note.timestamp}}</span> <span class="private">for your eyes only</span></p>
          {{#if note.topic}}
            <span class="topic-link">
              created from <a href="{{unbound getBaseURL}}t/{{unbound note.topic.slug}}/{{unbound note.topic.id}}">{{note.topic.title}}</a>
            </span>
          {{/if}}
          <button {{action "showEditNote" note}} class="btn edit-note">{{fa-icon "pencil"}} Edit Note</button>
          <button {{action "deleteNote" note}} class="btn delete-note">{{fa-icon "trash"}} Delete Note</button>
        </div>
      {{/if}}
    {{/each}}
  </div>
{{/if}}
